 *{
    margin:0;
    padding:0;
}
body {
    font-family: sans-serif;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    
    text-align:center;   
    max-width:800px;
   
}
.bg{
    height:100%;
}

.center {
    text-align:center;
    color:white;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
.right{
    text-align:center;
    color:white;
}

.img-medium {
    height: 100px;
    margin-right:10px;
    margin-top:10px;
  
}
.container{
    margin: 0 auto;
    color: #4b4b4b;
    padding-left: 20px;
    font-family: sans-serif;
    padding-right: 41px;
}
    

