body {
    font-family: sans-serif;
    margin-top: 75px;
     background-color: lightgrey;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

.center {
    text-align: center;
    color:white;
}
.center img{
    text-align:right;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    text-align: left;
    
}

