body {
    font-family: sans-serif;
    margin-top: 75px;
    background: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
   background-position: bottom center;
    height: 500px;
    width: 100%;
}

.center {
    text-align:center;
    color:white;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
.right{
    text-align:center;
    color:white;
}

.img-medium {
    height: 100px;
    margin-right:10px;
    margin-top:10px;
  
}
.container{
    margin: 0 auto;
    color: #4b4b4b;
    padding-left: 20px;
    font-family: sans-serif;
    padding-right: 41px;
}
    

